#theme-switch-container{
    z-index: 2;
    position:fixed;
    left:50%;
    transform: translateX(-50%);
    bottom:-55px;
    &.open{
        bottom:1px;
    }

}
#show-theme-switch{
    background-color: white;
    border: 1px solid black;
    width:30px;
    height:30px;
    position:relative;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    i{
        color: var(--skin-color);
        margin: 6.5px;
    
    }
}
#theme-switch{
    background-color: rgba(0,0,0,.3);
    width: 200px;
    padding: .7rem 1.7rem;
    // z-index: 2;
    // position:fixed;
    // left:50%;
    // transform: translateX(-50%);
    // bottom:1px;
    display: flex;
    gap: .8rem;
    // border-radius: 3rem;
}

.cercle {
    width: 30px;
    height: 30px;
    // border-radius: 20px;
    cursor: pointer;
    opacity: .5;
}
.cercle:hover{
    opacity: 1;
}

#theme-swtich-red{
    background: #ec1839;
}
#theme-swtich-blue{
    background: #1394D4 ;
}
#theme-swtich-green{
    background: #37b182;
}

#moon-start{
    text-align: center;
    width: 30px;
    height: 30px;
    display: flex;
    margin:auto;
    align-items: center;
    justify-content: center;
}

#moon-start i {
    font-size:1.4rem;
    cursor: pointer;
    color: var(--text-black-900);
}

#moon-start i:hover{
    color: var(--skin-color);
}