#skills{
    min-height: 800px;
    padding: 100px 13% 50px ;
    background-color: var(--bg-black-900);
    color: var(--text-black-700);
}
.skills-header{
    width: 100%;
    margin-bottom: 20px;
    display:grid ;
    place-items: center;
    text-align: center;
    p{
        font-size: 16px;
    }
    h2{
        margin-bottom: -5px;
        text-transform: uppercase;
        font-family: 'Quintessential',cursive;
        span{
            color: var(--skin-color);
            font-family: 'Quintessential',cursive;
        }
    }
} 

.skills-main{
    width:100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 50px ;
    grid-row-gap: 20px;
}

.skill-info{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    .percent{
        font-weight:bold;
    }
}

.bar{
    width: 100%;
    height: 10px;
    background-color: var(--dark-skin-color) ;
    border-radius: 25px;
    margin-top: 5px;
    position:relative;
    span{
        height: 100%;
        position: absolute;
        background-color: var(--skin-color);
        border-radius: 25px;
    }
}

.sixty{
    width:60%;
    animation: sixty 3s;
}
@keyframes sixty{
    0%{
        width: 0;
    }
    100%{
        width: 60%;  
    }
}

.seventy{
    width:70%;
    animation: seventy 3s;
}
@keyframes seventy{
    0%{
        width: 0;
    }
    100%{
        width: 70%;  
    }
}


.seventy-five{
    width:75%;
    animation: seventy-five 3s;
}
@keyframes seventy-five{
    0%{
        width: 0;
    }
    100%{
        width: 75%;  
    }
}



.eighty{
    width:80%;
    animation: eighty 3s;
}
@keyframes eighty{
    0%{
        width: 0;
    }
    100%{
        width: 80%;  
    }
}

.ninety{
    width:90%;
    animation: ninety 3s;
}
@keyframes ninety{
    0%{
        width: 0;
    }
    100%{
        width: 90%;  
    }
}





@media screen and (max-width : 800px){
    .skills-header{
        p{
            display: none;
        }
    }
    .skills-main{
        grid-template-columns: repeat(1,1fr);
    }
    
}