/************ HomePage Css ************/
#home.dark{
	--bg-black-900:#151515;
	--bg-black-100:#222222;
	--bg-black-50:#393939;
	--text-black-900:#ffffff;
	--text-black-700:#e9e9e9;
}

#home.blue{
    --skin-color:#1394D4 ;
}

#home.red{
    --skin-color:#ec1839;
}
#home.green{
    --skin-color:#37b182;
}


 