/************ HomePage Css ************/
#page-home-container{
 	background-color: var(--bg-black-900);
	&.dark{
		--bg-black-900:#151515;
		--bg-black-100:#222222;
		--bg-black-50:#393939;
		--text-black-900:#ffffff;
		--text-black-700:#FEEDDD ;
		--rgba-black: rgba(255, 255, 255,.08);
	}
	&.blue{
		--skin-color:#1394D4 ;
		--light-skin-color: #00FFF7;
		--dark-skin-color: #0c002b;
	}
	&.red{
		--skin-color:#FF2B2B;
		--light-skin-color: #FF6666;
		--dark-skin-color: #500303;
	}
	&.green{
		--skin-color:#37b182;
		--light-skin-color: #26FC00;
		--dark-skin-color: #082602 ;
	}
}


 