@import '~bootstrap/scss/bootstrap';

:root{
	--bg-black-900:#f2f2fc;
	--bg-black-100:#fdf9ff;
	--bg-black-50:#FCF7EE;
	--text-black-900:#302e4d;
	--text-black-700:#504e70;
    --rgba-black: rgba(0, 0, 0,.08);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}

body {
    font-weight: 400;
    overflow-x: hidden;
    font-family: 'Centra', sans-serif;
}


li{
    list-style: none;
}

a{
    text-decoration: none;
}

//taille maximum des composants de la page home
.page-home-max-width{
	max-width:1800px;
	margin:0 auto ;
}

